@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=K2D:ital,wght@0,700;1,300;1,400&family=Young+Serif&display=swap');

h1 {
  font-family:'Inter', sans-serif;
  font-family: 'K2D', sans-serif;
  font-family: 'Young Serif', serif; 
  font-size: 6rem;
}